
@{
    ViewBag.Title = "Confirm Appointment";

    string uid = ViewBag.uid;
    string vanue = ViewBag.vanue;
    string selecteddate = ViewBag.selecteddate;
    string selectedtime = ViewBag.selectedtime;
}

<h2>Conformation of your appointment</h2>

@using (Html.BeginForm("ConfirmAppointment", "LearningLicense", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Check details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @*@Html.LabelFor(model => model.uniqueId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Unique Id @Html.TextBox("uniqueId", uid, new { @class = "form-control", @readonly = "readonly" })
                @*@Html.ValidationMessageFor(model => model.uniqueId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.vanue, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Vanue @Html.TextBox("vanue", vanue, new { @class = "form-control", @readonly = "readonly" })
                @*@Html.ValidationMessageFor(model => model.uniqueId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.vanue, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Date Selected @Html.TextBox("selecteddate", selecteddate, new { @class = "form-control", @readonly = "readonly" })
                @*@Html.ValidationMessageFor(model => model.uniqueId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.vanue, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Time Selected @Html.TextBox("selectedtime", selectedtime, new { @class = "form-control", @readonly = "readonly" })
                @*@Html.ValidationMessageFor(model => model.uniqueId, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
