@model ErtoOfGujarat.Areas.License.Models.UserDetails

@{
    ViewBag.Title = "Your Details";

    string uid = ViewBag.uid;
}

<h2>New Learning License</h2>


@using (Html.BeginForm("YourDetails", "LearningLicense", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Your Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @*@Html.LabelFor(model => model.uniqueId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <p class="label"><h3>Unique Id</h3></p>
            <div class="col-md-10">
                @Html.TextBox("uniqueId", uid, new { @class = "form-control", @readonly = "readonly" })
                @*@Html.ValidationMessageFor(model => model.uniqueId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        @*Comment out in final release*@

        <div class="form-group">
            @Html.LabelFor(model => model.RequestId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Requestid", Model.RequestId)
                @Html.ValidationMessageFor(model => model.RequestId, "", new { @class = "text-danger" })
            </div>
        </div>

        <table>
            <tr>
                <td class="label">
                    <h3 style="color:black">
                        Name :
                    </h3>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.TextBox("FirstName", Model.FirstName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.TextBox("LastName", Model.LastName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <div class="form-group">
            @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("gender", Model.gender, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("DOB", Model.DOB, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BloodGroup, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("BloodGroup", Model.BloodGroup, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.BloodGroup, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Orphan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Orphan", Model.Orphan, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Orphan, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.SecondaryEmailId != null)
        {

            <div class="form-group">
                @Html.LabelFor(model => model.SecondaryPhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("SecondaryPhoneNumber", Model.SecondaryPhoneNumber, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.SecondaryPhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SecondaryEmailId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("SecondaryEmailId", Model.SecondaryEmailId, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.SecondaryEmailId, "", new { @class = "text-danger" })
                </div>
            </div>

        }

        <div class="form-group">
            @Html.LabelFor(model => model.fatherName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("fatherName", Model.fatherName, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.fatherName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MotherName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("MotherName", Model.MotherName, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.Orphan == "Yes")
        {

            <div class="form-group">
                @Html.LabelFor(model => model.GardianName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("GardianName", Model.GardianName, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.GardianName, "", new { @class = "text-danger" })
                </div>
            </div>

        }
        <div class="form-group">
            @Html.LabelFor(model => model.PermentAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("PermentAddress", Model.PermentAddress, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.PermentAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PermentCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("PermentCity", Model.PermentCity, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.PermentCity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PermentPincode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("PermentPincode", Model.PermentPincode, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.PermentPincode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LivingThere, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("LivingThere", Model.LivingThere, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.LivingThere, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.LivingThere == "No")
        {

            <div class="form-group">
                @Html.LabelFor(model => model.PresentAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextArea("PresentAddress", Model.PresentAddress, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.PresentAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PresentCity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("PresentCity", Model.PresentCity, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.PresentCity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PresentPincode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("PresentPincode", Model.PresentPincode, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.PresentPincode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Duration", Model.Duration, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                </div>
            </div>

        }

        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
